*
{
	font-family: 'Montserrat', sans-serif;
}

html{
	min-height:100%;
 	background:linear-gradient(0deg,rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../img/back5.jpg");
 	background-size:cover;
 	color:white;

}

nav{
	position: sticky;
	top:0px;
	left: 0px;
	z-index: 1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444;
}

nav li{
    float: right;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.active), #searchButton:hover {
    background-color: #3a3a3a;
}

nav .active{
    background-color: #ff6347;
}

nav form{
	padding-top: 8px;
	position: relative;
	right: 10px;
}

#searchInput{
	color: black;
	width: 50vw;
	height: 25px;
}

#searchButton{
	border: 1px solid grey;
	font-size:16px;
	height: 35px;
	color:white;
	background:#444;
}

#logo{
	float: left;
	width: 20vw;
}

header{
	text-align: center;
}

.chat{
	color: black;
	border-radius: 15px;
	width: 80vw;
	position: relative;
	top:6vh;
	margin:auto;
	background: white;
	padding: 10px 20px 40px 20px;
}

.sendmessages{
	margin-top: 10px;
	padding: 0px 0px 10px 0px;
}

#sendBox{
	width: 100%;
	height: 100px;
}

#makeRequest{
	display: block;
    font-size: 12px;
    text-align: center;
	/*    padding: 14px 16px;*/
    padding:10px;
    margin-right: 10px;
    text-decoration: none;
    border: 0px;
    border-radius: 15px;
    color: white;
    background: rgba(66,139,202,1);
}

.showmessages{
	margin-top: 10px;
	border-bottom: 1px solid #ccc;
	padding: 0px 0px 10px 0px;
	overflow: auto;
	max-height: 50vh;
	background: linear-gradient(0deg,rgba(255,255,255,0.7),rgba(255,255,255,0.7)),url('../img/chatback.png');
}

.sent{
	margin-top: 10px;
	width: 50vw;
	margin-left: 25vw;
	background-color: #DCF8C6;
	padding: 10px;
}

.received{
	margin-top: 10px;
	width: 50vw;
	background-color: #eee;
	padding: 10px;
}

#senderinfo{
	padding: 2px;
	margin-bottom: 5px;
}

#profileDetails td,#profileDetails th{
	padding: 15px;
}


#contactReq{
	padding-bottom: 15px;	
}

.request{
	display: block;
	border: 1px solid grey;
	padding: 15px;
	overflow: hidden;
}

.request h3{
	padding: 2px;
	margin:0px;
}
.request ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.request li{
    float: left;
}

.request li input {
    display: block;
    font-size: 16px;
    text-align: center;
/*    padding: 14px 16px;*/
    padding:10px;
    margin-right: 10px;
    text-decoration: none;
    border: 0px;
    border-radius: 15px;
    color: white;
}

#acceptRequest{
	background: lawngreen;
}

#rejectRequest{
	background:lightseagreen; 
}

#banRequest{
	background:firebrick;
}