*
{
	font-family: 'Montserrat', sans-serif;
}

html{
	min-height:100%;
 	background:linear-gradient(0deg,rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../img/back4.jpg");
 	background-size:cover;
 	color:white;

}

nav{
	position: sticky;
	top:0px;
	left: 0px;
	z-index: 1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444;
}

nav li{
    float: right;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.active), #searchButton:hover {
    background-color: #3a3a3a;
}

nav .active{
    background-color: #ff6347;
}

nav form{
	padding-top: 8px;
	position: relative;
	right: 10px;
}

#searchInput{
	color: black;
	width: 50vw;
	height: 25px;
}

#searchButton{
	border: 1px solid grey;
	font-size:16px;
	height: 35px;
	color:white;
	background:#444;
}

#logo{
	float: left;
	width: 20vw;
}

header{
	text-align: center;
}

.results{
	color: black;
	border-radius: 15px;
	width: 70vw;
	position: relative;
	top:6vh;
	margin:auto;
	background: white;
	padding: 40px 20px 40px 20px;
}

.results article{
	height:200px;
	border-bottom:1px solid grey;
	padding-top: 10px;
}

#dashOptions{
	position: absolute;
	background:white;
	right:0px;
	z-index: 1;
}

#dashOptions a{
	text-decoration: none;
	color: black;
}